aiohttp>=3.8.1
APScheduler>=3.9.1
fastapi>=0.86.0
loguru>=0.5.3
pydantic>=1.8.2
PyMySQL>=1.0.2
pytz>=2021.3
redis>=4.3.4
requests>=2.28.1
sentry_sdk>=1.9.10
starlette>=0.20.4
uvicorn>=0.17.6
gunicorn
