pydantic>=1.8.0,<2.0.0
requests~=2.27.0
gunicorn==20.1.0
certifi
cryptography
pyOpenSSL
python-dotenv
fastapi~=0.78.0
uvicorn~=0.15.0
starlette==0.19.1
opencc-python-reimplemented
Werkzeug==2.0.2
itsdangerous
typing-extensions==4.3.0
pycryptodome
redis~=3.5.3
aiohttp~=3.8.1
Brotli
APScheduler~=3.8.1
psycopg2-binary >= 2.5
pymysql~=1.0.2
loguru~=0.5.3
psycopg2~=2.9.3
configparser~=5.2.0