# 将项目构建镜像并发布至 Docker Hub
name: builds

# 在 Push 到 main 分支后启动该流程
on:
  push:
    branches: [ main ]
    paths-ignore: [ '**.md' ]

jobs:
  buildx:
    runs-on: ubuntu-latest
    steps:
      -
        name: Check Out
        uses: actions/checkout@v2
      -
        name: Get current date
        id: date
        run: echo "::set-output name=today::$(date +'%Y-%m-%d')"
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      # 设置 Buildx 为构建镜像做准备
      -
        name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}
      -
        name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      # 构建并发布（执行项目路径下的 Dockerfile 文件）
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm/v7,linux/arm64/v8
          push: true
          tags: |
            ${{ secrets.DOCKER_HUB_USERNAME }}/streaming:latest
            ${{ secrets.DOCKER_HUB_USERNAME }}/streaming:${{ steps.date.outputs.today }}